@import url("./reset.css");

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 400;
}

:root {
    --light-color: #FFFFFF;
    --dark-color: #131313;
    --dark-color2: #181818;
    --text-btn-color: #E3B873;
    --btn-hover-color: #e3b873e6;
    --text-itm-color: rgba(255, 255, 255, 0.3);
    --blackform-label: rgba(255, 255, 255, 0.5);
    --whiteform-label: rgba(54, 54, 54, 0.5);
    --blackform-border: rgba(255, 255, 255, 0.15);
    --whiteform-border: rgba(54, 54, 54, 0.3);
}

.container {
    max-width: 1256px;
    margin: 0 auto;
}

/* TITLE and SUBTITLE settings */

.title {
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 27px;
    color: var(--text-btn-color);
    line-height: 37px;
    text-transform: uppercase;
}

.subtitle {
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 1.25rem;
    color: var(--dark-color2);
    line-height: 28px;
    text-transform: uppercase;
}

/* BUTTON settings */

.button {
    font-family: inherit;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 33px;
    color: var(--light-color);
    background-color: var(--text-btn-color);
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    cursor: pointer;
}

/* ICON-wrapper settings */

.icon__wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 13px 0 31px;
}

.icon-line {
    display: block;
    width: 32px;
    height: 2px;
    background-color: var(--text-btn-color);
    border-radius: 30px;
}

.icon-image {
    width: 33px;
    height: 28px;
}

/* FORM settings */

.input {
    width: 231px;
    padding: 5px 0px 5px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--blackform-border);
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.input::placeholder {
    color: #363636;
}

.label {
    display: block;
    font-size: 13px;
    line-height: 21px;
    color: var(--blackform-label);
}

.form__label-checkbox {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.form__input-checkbox{
    display: none;
}

.form__fake-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background: var(--text-btn-color);
    color: var(--light-color);
    margin-right: 9px;
}

.form__fake-checkbox::before{
    content:"\2714";
    opacity: 1;
    transition: .2s;
}

.form__input-checkbox:checked+.form__fake-checkbox::before{
    opacity: 0;
}

.form__text-checkbox {
    color: var(--dark-color2);
    align-self: flex-end;
}

/* HEADER settings */

.header {
    background-color: var(--dark-color);
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 83px;
}

.header__logo {
    text-decoration: none;
    color: var(--text-btn-color);
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav__list {
    display: flex;
    gap: 47px;
}

.nav__link {
    text-decoration: none;
    color: var(--light-color);
    font-size: 11px;
    cursor: pointer;
    transition: color .2s linear;
}

.nav__link:hover {
    color: var(--text-btn-color);
}

.header__area-call {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header__tel {
    font-size: 11px;
    color: var(--text-btn-color);
    text-decoration-line: underline;
    cursor: pointer;
    transition: opacity .2s linear;
}

.header__tel:hover {
    opacity: 0.9;
}

.button-header {
    transition: transform .3s linear;
}

.button-header:hover {
    transform: scale(1.1);
}

/* section MAIN-SCREEN settings */

.main-screen {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../pictures/main_image.png) center / cover no-repeat;
    height: 707px;
}

.main-screen__wrapper {
    padding: 194px 0px 0px 42px;
}

.main-screen__title {
    max-width: 676px;
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 2.5rem;
    color: var(--light-color);
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.main-screen__title_color {
    color: var(--text-btn-color);
}

.main-screen__text {
    max-width: 520px;
    font-size: 1.375rem;
    color: var(--light-color);
    line-height: 36px;
    margin-bottom: 25px;
}

.main-screen__btn {
    display: flex;
    gap: 20px;
}

.button-mainscreen {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--light-color);
    padding: 20px 0;
    width: 207px;
    transition: background-color .3s linear, box-shadow .3s linear;
}

.button-mainscreen:hover {
    background-color: var(--text-btn-color);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border: none;
}

/* section PROJECTS settings */

.projects {
    background-color: var(--dark-color);
}

.projects__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 107px 42px 416px
}

.projects__info {
    align-self: flex-end;
}

.projects__title {
    max-width: 253px;
    letter-spacing: -0.07em;
    margin-bottom: 25px;
}

.projects__text {
    max-width: 442px;
    color: var(--light-color);
    line-height: 27px;
    margin-bottom: 42px;
}

.projects__specification {
    display: grid;
    grid-template-columns: 156px 213px;
    grid-template-rows: auto;
    gap: 34px;
    margin-bottom: 89px;
}

.projects__specification-title {
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 1.125rem;
    color: var(--text-btn-color);
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.projects__specification-text {
    max-width: 100px;
    font-size: 13px;
    color: var(--light-color);
    line-height: 21px;
}

.projects__switch {
    display: flex;
    align-items: center;
    gap: 30px;
}

.projects__arrow {
    max-width: 40px;
    cursor: pointer;
}

.projects__dote {
    display: flex;
    gap: 18px;
}

.projects__dote_circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--text-itm-color);
    cursor: pointer;
    transition: background-color .2s linear;
}

.projects__dote_circle:hover {
    background-color: var(--light-color);
}

.projects__list {
    display: flex;
    gap: 60px;
    margin-bottom: 53px;
}

.projects__link {
    font-family: 'Yeseva One', 'Arial', cursive;
    color: var(--text-itm-color);
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s linear, border-bottom .2s linear;
}

.projects__link:hover {
    color: var(--text-btn-color);
    padding-bottom: 7px;
    border-bottom: 1px solid var(--text-btn-color);
}

.projects__image {
    display: block;
    max-width: 100%;
}

/* section VIDEO settings */

.video__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -330px 0 145px;
}

.video__subtitle {
    color: var(--light-color);
}

.video__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../pictures/video_image.png) no-repeat center;
    width: 817px;
    height: 434px;
}

.video-button {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    position: relative;
    transition: background-color .3s linear;
}

.video-button:hover {
    background-color: var(--btn-hover-color);
}

.button__icon-arrow {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-55%, -50%);
}

.video__text {
    max-width: 681px;
    font-size: 1.125rem;
    line-height: 37px;
    text-align: center;
    margin-bottom: 73px;
}

.video__text::before {
    content: "";
    display: block;
    width: 55px;
    height: 2px;
    background-color: var(--text-btn-color);
    border-radius: 30px;
    margin: 63px auto 30px;
}

.video__form-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}

.video__form-item {
    display: flex;
    flex-direction: column;
}

.video__form-item:first-of-type {
    margin-right: 58px;
}

.video__form-item:last-of-type {
    margin-right: 49px;
}

.video__form-label {
    color: var(--whiteform-label);
}

.video__form-input {
    border-color: var(--whiteform-border);
}

.form-button {
    width: 200px;
    padding: 20px 0px;
    font-style: normal;
    font-size: 13px;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    transition: background-color .3s linear;
}

.form-button:hover {
    background-color: var(--btn-hover-color);
}

/* section REPAIR settings */

.repair__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 124px;
}

.cards__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cards__info {
    max-width: 330px;
    min-height: 286px;
    background-color: var(--light-color);
    margin: -130px 31px 0;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
    position: relative;
    z-index: 1;
}

.cards__info-wrapper {
    max-width: 267px;
    min-height: 178px;
    padding: 25px 0px 0px 34px;
}

.cards__title {
    max-width: 211px;
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 1.125rem;
    line-height: 25px;
    margin-bottom: 5px;
}

.cards__item {
    font-size: 13px;
    color: #959595;
    line-height: 27px;
    list-style-type: none;
}

.cards__item::before {
    content:"•";  
    margin-right: 5px;
    color: inherit;
}

.cards__price {
    width: 228px;
    max-height: 54px;
    padding: 17px 0px;
    margin: -27px 0px 0px 31px;
    background-color: var(--text-btn-color);
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    position: relative;
    z-index: 2;
}

.cards__text {
    text-align: center;
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 1.125rem;
    line-height: 25px;
    text-transform: uppercase;
    color: var(--light-color);
}

/* section SERVICES settings */

.services {
    position: relative;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services__wrapper_left {
    padding: 110px 0px 235px 150px;
}

.services__img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    max-width: 100%;
    height: 645px;
}

.services__step {
    display: flex;
    align-items: center;
    margin-bottom: 89px;
}

.services__step:last-child {
    margin-bottom: 0px;
}

.services__number {
    width: 55px;
    height: 55px;
    border: 8px solid var(--light-color);
    border-radius: 50%;
    background-color: var(--text-btn-color);
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 1.125rem;
    line-height: 25px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__text {
    line-height: 19px;
    margin-left: 10px;
}

.services__wrapper_right {
    padding-right: 10px;
}

.services__form {
    max-width: 506px;
    background-color: var(--dark-color);
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    padding: 28px 49px;
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;
}

.services__form-title {
    font-size: 1.125rem;
    line-height: 26px;
    color: var(--light-color);
    text-align: center;
    margin-bottom: 31px;
}

.services__form-input {
    width: 408px;
    margin-bottom: 47px;
    color: var(--light-color);
}

.services__form-input:nth-of-type(3) {
    margin-bottom: 16px;
}

.services__form-input::placeholder {
    color: var(--light-color);
}

.form__services-label-checkbox {
    justify-content: flex-start;
    margin-bottom: 39px;
}

.form__services-text-checkbox {
    color: var(--light-color);
}

.services__button {
    width: 213px;
    padding: 18px 0px;
    font-size: 13px;
    font-style: normal;
    align-self: flex-end;
    border-radius: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    transition: background-color .3s linear;
}

.services__button:hover {
    background-color: var(--btn-hover-color);
}

.services__pig {
    display: flex;
    align-items: center;
    margin-left: 32px;
}

.services__pig-element {
    width: 72px;
    height: 72px;
    background-color: var(--text-btn-color);
    box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services__pig-element:hover {
    animation: piggy 2s infinite forwards;
}

@keyframes piggy {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.services__pig-text {
    font-size: 1.125rem;
    line-height: 26px;
    color: var(--text-btn-color);
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    margin-left: 25px;
}