@import url("./reset.css");

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 400;
}
/* 'Yeseva One', cursive; */