@import url("./reset.css");

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    background-color: #FFFFFF;
    font-family: 'Nunito Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 400;
}

:root {
    --light-color: #FFFFFF;
    --dark-color: #131313;
    --dark-color2: #181818;
    --text-btn-color: #E3B873;
    --btn-hover-color: #E3B873CC;
    --text-itm-color: rgba(255, 255, 255, 0.3);
    --blackform-label: rgba(255, 255, 255, 0.5);
    --whiteform-label: rgba(54, 54, 54, 0.5);
    --blackform-border: rgba(255, 255, 255, 0.15);
    --whiteform-border: rgba(54, 54, 54, 0.3);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

/* BUTTON settings */

.button {
    font-family: inherit;
    font-size: 11px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    padding: 13px 33px;
    color: var(--light-color);
    background-color: var(--text-btn-color);
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    cursor: pointer;
}

/* FORM settings */

.input {
    width: 231px;
    padding: 5px 0px 5px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid var(--blackform-border);
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
}

.input::placeholder {
    color: #363636;
}

.label {
    display: block;
    font-size: 13px;
    line-height: 21px;
    color: var(--blackform-label);
}

.form__label-checkbox {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.form__input-checkbox{
    display: none;
}

.form__fake-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background: var(--text-btn-color);
    color: var(--light-color);
    margin-right: 9px;
}

.form__fake-checkbox::before{
    content:"\2714";
    opacity: 1;
    transition: .2s;
}

.form__input-checkbox:checked+.form__fake-checkbox::before{
    opacity: 0;
}

.form__text-checkbox {
    color: var(--dark-color2);
    align-self: flex-end;
}

/* HEADER settings */

.header {
    background-color: var(--dark-color);
}

.container__header {
    max-width: 1256px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 83px;
}

.header__logo {
    text-decoration: none;
    color: var(--text-btn-color);
    font-size: 11px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav__list {
    display: flex;
    gap: 47px;
}

.nav__link {
    text-decoration: none;
    color: var(--light-color);
    font-size: 11px;
    cursor: pointer;
    transition: color .2s linear;
}

.nav__link:hover {
    color: var(--text-btn-color);
}

.header__area-call {
    display: flex;
    align-items: center;
    gap: 45px;
}

.header__tel {
    font-size: 11px;
    color: var(--text-btn-color);
    text-decoration-line: underline;
    cursor: pointer;
    transition: opacity .2s linear;
}

.header__tel:hover {
    opacity: 0.9;
}

.button-header {
    transition: transform .3s linear;
}

.button-header:hover {
    transform: scale(1.1);
}

/* section MAIN-SCREEN settings */

.main-screen {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(../pictures/main_image.jpg) center / cover no-repeat;
    height: 707px;
}

.main-screen__wrapper {
    padding-top: 194px;
}

.main-screen__title {
    max-width: 676px;
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 2.5rem;
    color: var(--light-color);
    line-height: 53px;
    text-transform: uppercase;
    margin-bottom: 19px;
}

.main-screen__title_color {
    color: var(--text-btn-color);
}

.main-screen__text {
    max-width: 520px;
    font-size: 1.375rem;
    color: var(--light-color);
    line-height: 36px;
    margin-bottom: 40px;
}

.main-screen__btn {
    display: flex;
    gap: 20px;
}

.button-mainscreen {
    padding: 20px 0;
    width: 207px;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.button-mainscreen-disabled {
    background-color: transparent;
    box-shadow: none;
    border: 1px solid var(--light-color);
}

/* section PROJECTS settings */

.projects {
    background-color: var(--dark-color);
}

.projects__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 107px;
    padding-bottom: 416px;
}

.projects__info {
    align-self: flex-end;
}

.projects__title {
    max-width: 253px;
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 27px;
    color: var(--text-btn-color);
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.projects__text {
    max-width: 442px;
    color: var(--light-color);
    line-height: 27px;
    margin-bottom: 42px;
}

.projects__specification {
    display: grid;
    grid-template-columns: 156px 213px;
    grid-template-rows: auto;
    gap: 34px;
    margin-bottom: 79px;
}

.projects__specification-title {
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 1.125rem;
    color: var(--text-btn-color);
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 9px;
}

.projects__specification-text {
    max-width: 100px;
    font-size: 13px;
    color: var(--light-color);
    line-height: 21px;
}

.projects__switch {
    display: flex;
    align-items: center;
    gap: 30px;
}

.projects__arrow {
    max-width: 40px;
    cursor: pointer;
}

.projects__dote {
    display: flex;
    gap: 18px;
}

.projects__dote_circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--text-itm-color);
    cursor: pointer;
    transition: background-color .2s linear;
}

.projects__dote_circle:hover {
    background-color: var(--light-color);
}

.projects__list {
    display: flex;
    gap: 60px;
    margin-bottom: 53px;
}

.projects__link {
    font-family: 'Yeseva One', 'Arial', cursive;
    color: var(--text-itm-color);
    line-height: 19px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: color .2s linear, border-bottom .2s linear;
}

.projects__link:hover {
    color: var(--text-btn-color);
    padding-bottom: 7px;
    border-bottom: 1px solid var(--text-btn-color);
}

.projects__image {
    display: block;
}

/* section VIDEO settings */

.video__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -298px;
}

.video__title {
    font-family: 'Yeseva One', 'Arial', cursive;
    font-size: 1.25rem;
    color: var(--light-color);
    line-height: 28px;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.video__icon {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 31px;
}

.video__icon-line {
    display: block;
    width: 32px;
    height: 2px;
    background-color: var(--text-btn-color);
    border-radius: 30px;
}

.video__icon-img {
    width: 33px;
    height: 28px;
}

.video__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../pictures/video_image.png) no-repeat center;
    width: 817px;
    height: 434px;
}

.video-button {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    position: relative;
    transition: background-color .3s linear;
}

.video-button:hover {
    background-color: var(--btn-hover-color);
}

.button__icon-arrow {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-55%, -50%);
}

.video__text {
    max-width: 681px;
    font-size: 1.125rem;
    line-height: 37px;
    text-align: center;
    margin-bottom: 92px;
}

.video__text::before {
    content: "";
    display: block;
    width: 55px;
    height: 2px;
    background-color: var(--text-btn-color);
    border-radius: 30px;
    margin: 63px auto 35px;
}

.video__form-wrapper {
    margin-bottom: 148px;
}

.video__form-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 33px;
}

.video__form-item {
    display: flex;
    flex-direction: column;
}

.video__form-item:first-of-type {
    margin-right: 58px;
}

.video__form-item:last-of-type {
    margin-right: 49px;
}

.video__form-label {
    color: var(--whiteform-label);
}

.video__form-input {
    border-color: var(--whiteform-border);
}

.form-button {
    padding: 20px 0px;
    width: 200px;
    font-style: normal;
    font-size: 13px;
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
    transition: background-color .3s linear;
}

.form-button:hover {
    background-color: var(--btn-hover-color);
}



